body {
	font-family:   "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	background:    #f9f9f9;
	margin: 	   0;
	margin-bottom: 5px;
	padding: 	   0;
}

cite::before {
	content: open-quote;
}

cite::after {
	content: close-quote;
}

#textbody {
	margin-left:  5%;
	margin-right: 5%;
}

#textbody ul {
	text-align: center;
	list-style: none;
}

#textbody h2 {
	margin-left: -10px;
	margin-top:   30px;
}

#textbody hr {
    border: 		  0;
    height: 		  1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

.imagebox {
	width: 		800px;
	margin: 	0 auto;
	text-align: center;
}

.imagebox .caption {
	text-align: center;
	font-size:  12pt;
}

.lista h1 {   
    font-family:	Georgia,serif,Times; 
    margin-left:	auto;
    margin-right:	auto;
    width:			17%;
    color:			rgb(28,28,58); 
}

.lista ul { 
    list-style:	  none; 
    margin-left:  auto;
    margin-right: auto;
    width:		  25%;
}

.lista ul li { 
    font-family:	Georgia,serif,Times; 
    font-size:		18px; 
} 

.lista ul li a { 
    display:		  block; 
    width:			  300px; 
    height:			  28px; 
    background-color: rgb(28,28,58); 
    border-left:	  5px solid #222; 
    border-right:	  5px solid #222; 
    padding-left:	  10px;
    text-decoration:  none; 
    color:			  #FFF;
}

.lista ul li a:hover {  
    -moz-transform:		rotate(-5deg); 
    -moz-box-shadow:	10px 10px 20px #000000;
    -webkit-transform:  rotate(-5deg); 
    -webkit-box-shadow: 10px 10px 20px #000000;
    transform:			rotate(-5deg); 
    box-shadow:			10px 10px 20px #000000; 
}

.letter {
	font-size: 		1.5em;
	margin-right: 	5px;
	color: 			white;
	vertical-align: center;
}

.headertitle {
	background-color: #bbb;
	color: 			  black;
	font-family: 	  "Lucida Grande", Arial, sans-serif;
	text-align: 	  center;
	vertical-align:   text-bottom;
	width: 			  100%;
	font-size: 		  16pt;
	font-weight: 	  200;
	height: 		  2em;
	margin: 		  0;
	padding: 		  0;
	padding-top: 	  5px;
	margin-bottom: 	  10px;
}

.headerlist {
	color: black;
	font-family: Arial, sans-serif;
	text-align: center;
	vertical-align: center;
	width: 100%;
	font-size: 14pt;
}

.headerlist ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	margin-top: 0.5em;
}

.headerlist li {
	display: inline-block;
	margin-top: 0;
	background-color: #eee;
	border: 1px solid rgba(80, 80, 80, 0.5);
	border-radius: 5px;
	width: 50%;
	text-align: center;
	font-weight: bolder;
	width: 98%;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
}

.headerlist a {
	text-decoration: none;
	color: black;
}

.headerlist li:hover {
	background-color: #ddd;
}

.headerlist li:active {
	background-color: #ccc;
}

.headerlist ul li:first-child {
	margin-top: 0;
}

.headerlist ul li:last-child {
	margin-bottom: 5px;
}

#login {
	position: relative;
	width: 400px;
	height: 200px;
	vertical-align: center;
	margin: 0 auto;
	background-color: #bbb;
	border-radius: 15px;
	border: 2px dashed #fff;
	color: #000;
	font-weight: bold;
	text-align: center;
	padding-top: 30px;
	box-shadow: 0 0 0 4px #bbb, 2px 1px 6px 4px #bbb;
}

#login label {
	position: absolute;
	left: 25px;
	margin: 5px;
	margin-bottom: 10px;
}

#login input {
	position: absolute;
	right: 25px;
	margin: 5px;
	margin-bottom: 10px;
}

.button {
	display: inline-block;
	margin-top: 0;
	text-align: center;
	font-weight: bolder;
	background-color: #eee;
	border: 1px solid rgba(80, 80, 80, 0.5);
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
	width: 150px;
	height: 30px;
}

.button:hover {
	background-color: #ddd;
}

.button:active {
	background-color: #ccc;
}

.buttonlogin, .buttonregister {
	position: absolute;
	bottom: 20px;
}

.buttonlogin {
	left: 25px;
}

.buttonregister {
	right: 25px;
}

#game {
	position: relative;
	margin: auto;
	margin-top: 15px;
	width: 480px;
	height: 370px;
	border: 1px solid black;
	background-color: #2fa4dd;
	border-radius: 15px;
}

#screen {
	width: 480px;
	margin: auto;
	background-color: blue;
}

#alphabet {
	width: 480px;
	height: 50px;
	margin: 0;
	position: absolute;
	bottom: 40px;
	text-align: center;
	background-color: rgba(28, 28, 28, 0.85);
	vertical-align: bottom;
	line-height: 50px;
	overflow-x: hidden;
	overflow-y: hidden;
}

#cr-stage {
	margin: auto;
	margin-top: 40px;
}

#automatons {
	position: relative;
	margin: auto;
	margin-top: 10px;
	width: 100%;
	height: 280px;
	background-color: #E5EEFF;
	overflow: scroll;
}

#titles {
	width: 480px;
	height: 40px;
	margin: 0 auto;
	position: absolute;
	top: 0;
	background-color: rgba(28, 28, 28, 0.85);
	display: inline-block;
	text-align: center;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#titles #levellist {
	float: left;
	margin-left: 15px;
}

#titles #tutorial {
	float: right;
	margin-right: 15px;
}

#title {
	color: white;
	font-size: 16pt;
	margin: 0 auto;
	display: inline-block;
	vertical-align: text-bottom;
	margin-top: 5px;
}

#playbar {
	width: 480px;
	height: 40px;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	background-color: rgba(28, 28, 28, 0.85);
	display: inline-block;
	border-top: 2px dashed #DCDCB7;
	text-align: center;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

#playbar img, #titles img{
	display: inline-block;
	margin-top: 10px;
	margin-right: 5px;
	margin-left: 5px;
	width: 25px;
	height: 25px;
}

#playbar img:hover, #titles img:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

#area {
	margin-top: 60px;
	height: 400px;
	width: 8000px;
	z-index: 0;
}

div.statecontainer {
	height: 100px;
	width: 100px;
	position: absolute;
	display: block;
	background-image: url('/img/State.png');
	cursor: pointer;
	z-index: 5;
}

div.statecontainer:hover {
	background-image: url('/img/StateHover.png');
}

div .statecontainer.stateon {
	background-image: url('/img/StateOn.png');
}

div .statecontainer.stateon:hover {
	background-image: url('/img/StateOnHover.png');
}

div.statecontainer.initial {
	background-color: #282;
	border-radius: 50%;
	box-shadow: 1px 1px 4px 0 #282;
}

div.statecontainer.initial:hover {
	background-color: #393;
}

div.statecontainer span.statename {
	font-family: monospace;
	font-size: 12pt;
	width: 10px;
	height: 10px;
	position: absolute;
	left: 40px;
	top: 40px;
	cursor: inherit;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

div.statecontainer .circle {
	width: 25px;
	height: 25px;
	position: absolute;
	z-index: 1000;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

div.statecontainer .circle img {
	width: 25px;
	height: 25px;
}

div.statecontainer .a {
	right: 37px;
	top: -9px;
}

div.statecontainer .b {
	right: -10px;
	top: 38px;
}

div.statecontainer .c {
	right: 37px;
	bottom: -9px;
}

div.statecontainer .x {
	left: 2px;
	bottom: 23px;
}

div.statecontainer .circle .text {
	font-family: monospace;
	font-size: 10pt;
	width: 5px;
	height: 5px;
	position: absolute;
	left: 6px;
	top: 2px;
}

#actionmenu {
	z-index: 30;
	display: block;
	position: absolute;
	top: 800px;
	left: 400px;
	width: 170px;
	height: 170px;
	padding: 0;
}

#actionmenu img {
	position: absolute;
}

#actionmenu .crc {
	position: absolute;
	width:    30px;
	height:   30px;
}

#actionmenu #halt {
	bottom: -1px;
	left:   70px;
}

#actionmenu #jump {
	top:  -1px;
	left: 70px;
}

#actionmenu #right {
	right: 4px;
	top:  74px;
}

#actionmenu #left {
	left: -4px;
	top:  74px;
}

#actionmenu #jumpright {
	right: 19px;
	top:   14px;
}

#actionmenu #jumpleft {
	left: 9px;
	top: 14px;
}

#actionmenu #chalt {
	bottom: -5px;
	left:   65px;
}

#actionmenu #cjump {
	top:  -5px;
	left: 65px;
}

#actionmenu #cright {
	right: 0px;
	top:  70px;
}

#actionmenu #cleft {
	left: -10px;
	top:   70px;
}

#actionmenu #cjumpright {
	right: 15px;
	top:   10px;
}

#actionmenu #cjumpleft {
	left: 5px;
	top: 10px;
}

.lbl {
	color: 				 #066;
	padding-bottom: 	 1em;
	-padding-left: 		 3.5em;
	z-index: 			 20;
	user-select: 		 none;
	-webkit-user-select: none;
	-moz-user-select: 	 none;
	-ms-user-select: 	 none;
	cursor: 			 pointer;
}

._jsPlumb_connector, ._jsPlumb_endpoint, ._jsPlumb_overlay { 
	z-index: 6; 
}

#score {
	color: 			#fff;
	font-size: 		18pt;
	margin: 		0 auto;
	margin-top: 	5px;
	display: 		inline-block;
	vertical-align: text-bottom;
}

#leftbuttons {
	float: 		 left;
	margin-left: 1em;
}

#rightbuttons {
	float: 		  right;
	margin-right: 1em;
}